.juegos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px;
}

.mesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    width: 70%;
}
#cartaJugador img{
    width:200px; 
    height:300px
}
#cartaCrupier img{
    width:200px; 
    height:300px
}
.mesaRuleta div {
    margin: 20px;
}

.card {
    margin: 20px;
}

nav {
    margin-bottom: 50px;
}

footer {
    padding-top: 50px;
}

.datosUsuario {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mesa div {
    margin-top: 30px;
}

button {
    margin: 10px
}

.ruleta {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    animation: girar 6s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.banner {
    width: 50%;
}

body {
    background-color: black;
}

#labelEleccionRuleta {
    color: azure;
}

h2 {
    color: azure;
}

#labelEleccionBlackjack {

    color: azure;

}
@media (max-width: 805px) {
      
    #cartaJugador img{
        width:100px; 
        height:150px
    }
    #cartaCrupier img{
        width:100px; 
        height:150px
    }
}

@media (max-width: 600px) {
      
    #cartaJugador img{
        width:70px; 
        height:110px
    }
    #cartaCrupier img{
        width:70px; 
        height:110px
    }
}

